{% extends 'componentes/listagem.html.twig' %}

{% block listcabecalho%}
    Listagem de Categorias
{% endblock %}

{% block listcorpo %}

<div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
                    <th>Id</th>
                    <th>Titulo</th>
                    <th class="text-right">Actions</th>
            </thead>
            <tbody>
                    {% for categorium in categorias %}
                    <tr>
                        <td><a href="{{ path('categoria_show', { 'id': categorium.id }) }}">{{ categorium.id }}</a></td>
                        <td>{{ categorium.titulo }}</td>
                        <td class="text-right">
                            <div class="row">
                                <div class="col-md-9 pr-1"></div>
                                <div class="col-md-1 pr-1">
                                    <a href="{{ path('categoria_show', { 'id': categorium.id }) }}" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                                    </a>  
                                    </div>
                                <div class="col-md-1 pr-1">
                                    <a href="{{ path('categoria_edit', { 'id': categorium.id }) }}" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                    </a>  
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-2 pr-1">
            <a href="{{ path('categoria_new') }}" class="btn btn-primary btn-block">
                Novo
            </a>  
        </div>
    </div>
{% endblock %}
